* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: hsl(218, 44%, 22%);
    margin-bottom: 15px;
}
p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.background-qr {
    width: 300px;
    border: 1px solid #e1e1ee;
    background-color: hsl(0, 0%, 100%);
    margin: 10% auto;
    border-radius: 15px;
}

.background-qr img {
    max-width: 100%;
    border-radius: 10px;
}

.contenido {
    padding: 15px;
    justify-content: space-between;
}

.descripcion {
    padding: 30px 0px;
}